.footer {
  background: linear-gradient(90deg, rgba(0,0,0,0.9500175070028011) 0%, rgba(41,91,36,0.9500175070028011) 71%, rgba(36,126,25,0.9500175070028011) 87%, rgba(1,9,1,0.9500175070028011) 100%);  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1rem; 
}


@media (max-width: 768px) {
  .footer {
    padding: 1rem 0.5rem; 
    font-size: 0.85rem; 
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.8rem 0.4rem; 
    font-size: 0.75rem; 
  }
}
