.footer {
  background: linear-gradient(90deg, rgba(15,15,15,0.5) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 75%, rgba(15,15,15,0.5046393557422969) 100%);  color: #fff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1rem; 
}


@media (max-width: 768px) {
  .footer {
    padding: 1rem 0.5rem; 
    font-size: 0.85rem; 
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 0.8rem 0.4rem; 
    font-size: 0.75rem; 
  }
}
