@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

body.links-page {
  background-color: black; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace; 
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  height: 100vh;
  color: white;
  background-image: url('/videos/videobackground.gif');
  background-size: cover;
  background-position: center;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.links-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0px;
  z-index: 1;
}

.profile-image {
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}


.links-header, .links-content {
  position: relative;
  z-index: 2;
}

.links-header {
  margin-top: 2%; 
}

.links-header h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  letter-spacing: 2px;
}

.links-header p {
  font-size: 18px;
  color: #d0d0d0;
  margin: 10px 0 25px;
}

.links-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 350px;
}

.link-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.link-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.link-btn .icon {
  font-size: 20px; 
}

@media (max-width: 768px) {
  .links-header h1 {
    font-size: 28px;
  }

  .links-header p {
    font-size: 16px;
  }

  .link-btn {
    padding: 12px 15px;
    font-size: 14px;
  }

  .link-btn .icon {
    font-size: 18px; 
  }

  .profile-image {
    width: 150px;
    height: 150px;
    
  }
}
