@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap'); 

.services-container {
  background-color: #1a1a1a;
  padding: 20px;
  width: 100%;
  max-width: 1820px;
  overflow: hidden;
}

.services-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #FAFAFA;
  font-family: 'Rajdhani', sans-serif; 
}

.services-carousel-container {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  padding: 47px;
}

.services-carousel {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow-x: auto;
  height: 410px;
  padding-left: -5px;
}

.services-carousel::-webkit-scrollbar,
.services-carousel-container::-webkit-scrollbar {
  display: none;
}

.service-item {
  position: relative;
  max-width: 300px;
  width: 300px;
  min-width: 200px;
  height: 100%;
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
}

.service-item:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.service-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;  
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;  
}

.service-item:hover .service-video {
  opacity: 1;
}

.service-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.service-info {
  padding: 10px;
  height: 300px;
  background-color: white;
  position: relative;
  z-index: 2;
  font-family: 'Rajdhani', sans-serif; 
}

.service-title {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Rajdhani', sans-serif; 
}

.service-description {
  font-size: 0.9rem; 
  color: #cacaca; 
  line-height: 1.2; 
  font-family: 'Rajdhani', sans-serif; 
  text-align: justify; 
  margin: 0.5rem 0; 
  padding: 0.5rem; 
  background-color: #201e2b;
  border-radius: 10px; 
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 10;
  font-family: 'Rajdhani', sans-serif; 
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.left {
  left: -5px;
}

.right {
  right: -5px;
}

@media (max-width: 1024px) {
  .service-item {
    max-width: 250px;  
    flex-shrink: 1;   
  }

  .carousel-btn {
    font-size: 1.8rem;
    padding: 10px;
  }
}

@media (max-width: 728px) {
  .service-item {
    max-width: 200px;  
    flex-shrink: 1;   
  }

  .service-description {
    font-size: 0.7rem;
  }
  
  .services-carousel-container {
    padding: 15px;
  }

  .carousel-btn {
    font-size: 1.6rem;
    padding: 9px;
  }
}

@media (max-width: 480px) {
  .service-item {
    max-width: 150px;  
    flex-shrink: 1;   
  }

  .service-description {
    font-size: 0.68rem;
  }

  .services-carousel-container {
    padding: 5px;
  }

  .services-carousel {
      max-height: 300px;
  }
  .carousel-btn {
    font-size: 1.4rem;
    padding: 8px;
  }
}
